/*Палитра
Основний фон #FFFFFF
Другорядний фон #F5F4FA
Основний колір тексту #212121;
Другорядний колір тексту#757575;
Колір акценту #2196F3;
Колір лого #000000;
Альтернативний колір тексту #FFFFFF;
Альтернативний колір другорядного тексту rgba(255, 255, 255, 0.6)
Фон футера #2F303A;
колір логотипів кліентів #AFB1B8;
*/
:root {
    --primery-text-colop: #212121;
    --secondary-text-color: #757575;
    --akcent-color: #2196F3;
    --background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --logo-text-color: #000000;
    --footer-bg: #2F303A;
    --hero-bg-color: #C4C4C4;
    --icons-color: #AFB1B8;
    --hero-btn-hov-color: #188CE8;
    --footer-text-secondary-color: rgba(255, 255, 255, 0.6);
}

body {
    color: var(--primery-text-colop);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--background-color)
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.title{
    margin: 0;
    padding: 0;
}
.content{
    margin: 0;
    padding: 0;
}
.photo{
    display: block;
}

.conteiner{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*Заголовок*/
.top{
    border-bottom: 1px solid #ECECEC;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.header__logo{
    margin-right: 93px;
}
.logo-akcent {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--akcent-color)
}
.logo {
    display: block;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-text-color)
}
.navigation,
.contacts{
    display: flex;
}
.contacts{
    margin-left: auto;
}
.navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-colop);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.navigation__item:not(:last-child),
.contacts__item:not(:last-child){
    margin-right: 50px;
}
.navigation__link:focus,
.navigation__link:hover {
    color: var(--akcent-color);
}
.navigation__link::after{
    content:'';
    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    opacity: 0;

    background-color: var(--akcent-color);
    position: absolute;
}
.current::after{
    content:'';
    display: block;

    opacity: 1;
}
.navigation__item{
    position: relative;
}
.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:focus,
.contacts__link:hover {
    color: var(--akcent-color);
    fill: var(--akcent-color);
}
.contacts__icon{
    margin-right: 10px;
}

/*main*/
.section .title,
.team-section .title,
.clients .title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primery-text-colop);
    margin-bottom: 50px;
}

/*Герой*/
.hero {
    background-color: var(--hero-bg-color);
    text-align: center;
    height: 600px;
}
.overlay{
    max-width: 1600px;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../imges/herobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-box{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}
.hero-box__title{
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}

.hero-box__button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    width: 216px;
    height: 50px;
    border: 0em;
    border-radius: 4px;
    color: var(--background-color);
    background: var(--akcent-color);
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-box__button:hover,
.hero-box__button:focus {
    background: var(--hero-btn-hov-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*Принципи*/
.princip{
    padding-top: 94px;
    padding-bottom: 94px;
}
.principles{
    display: flex;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.principles__item:not(:last-child){
    margin-right: 30px;
}
.principles__thumb{
    display: flex;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
}
.principles__title,
.social-linkbox__title{
    margin-bottom: 10px;
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;
    color: var(--primery-text-colop);
}
.principles__content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color);
}


/*Чим ми займаємось*/
.works{
    padding-bottom: 94px;
}
.work-list{
    display: flex;
    justify-content: center;
}
.work-list__thumb{
    position: relative;
}
.work-list__item:not(:last-child){
    margin-right: 30px;
}

.work-list__overlay{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(47, 48, 58, 0.8);;
}
.work-list__title{
    margin: 0;
    font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
text-transform: uppercase;

color:var(--background-color);
}
/*Команда*/

.team-list{
    display: flex;
    justify-content: center;
}
.team-section {
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list__item {
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child){
    margin-right: 30px;
}
.content-box__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primery-text-colop);
}

.content-box__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}
.content-box{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.social-list{
    display: flex;
}
.social-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill:var(--icons-color);
    background-color: var(--background-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__item:not(:last-child){
    margin-right: 10px;
}
.social-list__link:hover,
.social-list__link:focus{
    fill: var(--background-color);
    background-color: var(--akcent-color);
}
/*Клієнти*/
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list{
    display: flex;
}
.clients-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: var(--icons-color);
    background-color: var(--background-color);
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover,
.clients-list__.link:focus{
    fill: var(--akcent-color);
    border-color: var(--akcent-color);
}
.clients-list__item:not(:last-child){
    margin-right: 30px;
}
/*Підвал*/
.footer {
    background-color: var(--footer-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}
.bottom{
    display: flex;
    align-items: baseline;
}
.address-box{
    flex-grow: 1;
}
.footer__logo {
    color: var(--background-color);
    margin-bottom: 20px;
}
.address-list__item:not(:last-child){
    margin-bottom: 9px;
}
.address-list__first {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--background-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__second,
.address-list__third {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--footer-text-secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__first:hover,
.address-list__second:hover,
.address-list__third:hover,
.address-list__first:focus,
.address-list__second:focus,
.address-list__third:focus {
    color: var(--akcent-color)
}
.social-linkbox{
display: flex;
flex-direction: column;
margin-left: 70px;
}
.social-list{
    display: flex;
}
.social-linkbox__title {
    margin-bottom: 20px;
    color: var(--background-color);
}
.social-list__item:not(:last-child){
    margin-right: 10px;
}
.social-list__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--background-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover,
.social-list__link:focus{
    background-color:var(--akcent-color);
}

.subscribe{
    display: inline-flex;
    margin-left: 93px;
}
.subscribe-form{
    display: flex;
    width: 570px;
    align-items:flex-end;
    justify-content:baseline;
    
}
.subscribe-form__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-color);
    margin-bottom: 20px;
}
.subscribe-form__input{
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-bg);
    padding: 15px 16px;
    width: 358px;
    color: var(--background-color);
}
.shell{
    display: flex;
    flex-direction: column;
}
.shell::placeholder{
    color:rgba(255, 255, 255, 0.6);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;

    color: var(--background-color);

    width: 200px;
    height: 50px;
    margin-left: 12px;
    background: var(--akcent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-color: var(--akcent-color);
    border-radius: 4px;
    cursor: pointer;
}
.button__icon{
    margin-left: 10px;
}
/*Стилі для портфоліо*/
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio .list{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio .list .button {

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--primery-text-colop);

    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: var(--secondary-background-color);
    border-radius: 4px;
    border: 0em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .list .item:not(:last-child){
    margin-right: 8px;
}

.portfolio .list .button:focus,
.portfolio .list .button:hover {
    background-color: var(--akcent-color);
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.portfolio .card-list .link{
    display: block;
    cursor: default;
    }
.card-head{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.portfolio .card-list .link:focus,
.portfolio .card-list .link:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio .card-list .title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-colop);
}

.portfolio .card-list .content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-text-color);
}
.wrapper{
    position: relative;
    overflow: hidden;
    
}
.card-overlay{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    transform:translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    background-color: rgba(33, 150, 243, 0.9);
    
}
.portfolio .card-list .link:focus .card-overlay,
.portfolio .card-list .link:hover .card-overlay{
    transform: translateY(0);
}
.wrapper .card-overlay .content{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
font-size: 18px;
line-height: 1.55;
color: var(--background-color);
}
/*Модальне вікно*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    position: fixed;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -10%);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);

    width: 528px;

    background-color:var(--background-color);
    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;

    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    fill:var(--logo-text-color);
    background-color: var(--background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:focus,
.close:hover{
    fill: var(--akcent-color);
}

.form{
    padding: 40px;
}
.form-field{
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color:var(--secondary-text-color);
}

.form-field .icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:hover .icon,
.form-field:hover .input,
.input:focus + .icon,
.input:focus{
    border-color: var(--akcent-color);
    fill: var(--akcent-color);
}

.input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    padding-right: 11px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field label{
    margin-bottom: 4px;
}
.form .head{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--primery-text-colop);
}
.comment{
    margin-bottom: 20px;
}
.textarea-input{
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;

    padding: 11px;
}
textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}
.checkbox .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color);
}
.checkbox .title .link{
    color: var(--akcent-color);
    text-decoration:underline;
}
.form .submit{
    display: block;
    justify-content: center;
}
.submit .checkbox{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.submit .checkbox input[type="checkbox"]{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.submit .button{
    display:flex;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--akcent-color);
    border: transparent;

    background: var(--akcent-color);
    cursor: pointer;

    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
    color:var(--background-color);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit .button:focus,
.submit .button:hover{
    border-color: var(--hero-btn-hov-color);
    background: var(--hero-btn-hov-color);
}

.submit .checkbox .icon{
    display: block;

    margin-right: 8px;
    width: 16px;
    height: 15px;
    background-image: url(../imges/checkbox.svg);
    fill: var(--primery-text-colop);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit .checkbox input:checked + .icon{
    fill: var(--background-color);
    background: var(--akcent-color);
    background-image: url(../imges/check.svg);
    background-size: contain;
    background-origin: border-box;
    border-radius: 2px;
}
